Package: sml-converters-cli
Version: [[version]]
Section: web
Priority: optional
Architecture: all
Depends: openjdk-7-jre-headless | openjdk-6-jre-headless 
Maintainer: Claus Stadler <cstadler@informatik.uni-leipzig.de>
Description: SML Converter Command Line Interfaces
Distribution: development
Homepage: http://aksw.org/Projects/SML-Converters
Vcs-Git: git://github.com/AKSW/sml-r2rml
Vcs-Browser: https://github.com/AKSW/sml-r2rml
